.map_style{
  position: absolute;
  width: 100%;
  height: 100%;
}


body, html {
  height: 100%;
  }
  .bg {
  background-image: url("https://img-new.cgtrader.com/items/836265/838e59ac97/cartoon-low-poly-earth-world-map-3d-model-low-poly-max-obj-mtl-3ds-fbx-c4d-pdf.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }